* ::before, ::after {
    box-sizing: border-box;
    margin: 0;

}
.profile-page-title { 
    position: sticky;
    text-align: center;
    padding: auto;
    border: 20px #946B2D;
    border-style: inset;
    margin-bottom: 20px;
    background-color: #0E1A40;
    color: #946B2D;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}
.profile-cards {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.profile-cards {
    position: relative;
    background-color: #033807;
    border: 17px solid silver;
    border-radius: 2px;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: auto;
}
.profile-card_Name {
    position: absolute;
    
}
body {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
   
}
.navigation-bar {
    box-sizing: border-box;
    border: 4px lightgray;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 48px;
    display: flex;
    flex: 3;
    justify-content: space-around;
    background-color: #e5e4e2;
    align-items: center;
    max-width: 600px;
    margin: auto;
}