.Show-Answer {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    border: 4px solid rgba(4,39,48, 0.5);
    background-color: rgba(25,71,69);
    font-family: "HarryP";
    font-size: 24px;
    font-weight: normal;
    color: rgba(220,221,216,);
}

