.question-card_question {
    font-weight: normal;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 320px;
    
    

}
.question-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 55px;
    margin-top: 120px;
}
.question-card {
    position: relative;
    background-color: rgba(4,39,48);
    border-radius: 3px;
    width: 400px;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: auto;
}
.question-card_answer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    align-self: center;
}
.tag:hover { opacity: 0.3}
.tags .tag {
     background-color: rgba(25,71,69, 0.5);
    border: 3px rgba(25,71,69, 0.5);
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    color: rgba(220,221,216);
    text-align: center;
    font-weight: normal;
    font-size: 22px;
}
.tags {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    
}
.bookmark-icon.active {
        stroke: #FFC30B !important;
    }

.title-of-the-card {
    border: 200px;
    display: flex;
    justify-content: center;
    height: 200%;

}
.bookmark-icon {
    fill: none;
    stroke-width: 2;
    stroke: #000000;
}
     .bookmark-icon:hover {
        stroke: #FFC30B !important;
    }
    
  
.bookmark {
    margin: auto ;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px #946B2D;
    background: transparent;
    color: #0E1A40;
}