.navigation-bar {
    box-sizing: border-box;
    border: 4px lightgray;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 48px;
    display: flex;
    flex: 3;
    justify-content: space-around;
    background-color: #e5e4e2;
    align-items: center;
    
}
.tag {
    text-decoration: none;
    color: black;
    

}

        

    
